$HOME/.config/coc/extensions/
###################
.DS_Store
.hg
.svn
.idea
#.vscode
# *.vscode
node_modules
###################
# Python files
.venv/
env/
__pycache__/
.pyc
static_collected/
# Temporary files
*.kate-swp
*.swp
*.swo
*~

_archived/
**/.null-ls*.py
.ipynb_checkpoints/


pids
logs
node_modules
npm-debug.log
coverage/
run
dist
.DS_Store
.nyc_output
.basement
config.local.js
basement_dist
~$*
【河洛標音工具】*.xlsx
